.message {
    background-color: gold;
}
.message img {
    margin: 40px 5px 0 50px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
}


.messageBlock {
    color: #ffffff;
}

.nickName {
    margin: 0 0 6px 10px;
    font-weight: bold;
    color: aquamarine;
}

.messageTime {
    color: #5fb754;
}


.messageBlock {
    box-sizing: border-box;
    padding: 10px;
    min-height: 20px;
    min-width: 50px;
    margin-left: 70px;
    max-width: 400px;
    left: 60px;
    font-size: 14px;
    /*max-width: 250px;*/
    /*max-height: 580px;*/
    background-color: #082a04;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 10px 6px;
}

.messageBlock:before {
    content: "";
    position: absolute;
    right: 99%;
    top: 55px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 26px solid #082a04;
    border-bottom: 1px solid transparent;
}